!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title
      Webrake
    %link{ href: "/stylesheets/application.css", media: "all", rel: "stylesheet" }

  %body
    %nav.Webrake
      %h1
        &mdash; A web GUI for your Rake tasks

    %section.Container

      .Wrapper

        %h2.Introduction
          :markdown
            The following tasks where discovered in your `Rakefile`

        %hr

        %ul.Tasks
          - tasks.each do |task|
            %li.Task
              .Task_header
                %h3.Task_name
                  Name
                %span.Task_description
                  = task.name
              .Task_header
                %h3.Task_name
                  Description
                %span.Task_description
                  :markdown
                    #{task.comment}
              .Task_header
                %h3.Task_name
                  Prerequisites
                %span.Task_description
                  :markdown
                    #{task.prerequisite_tasks.map(&:name).inspect}
              .Task_actions
                .Task_actions-button
                  %form{ action: "/#{task.name}", method: :post }
                    - unless task.arg_names.empty?
                      %fieldset
                        %legend Arguments
                        - task.arg_names.each do |arg_name|
                          - if task.has_options_for?(arg_name)
                            %select.Task_action-input{ name: "args[#{arg_name}]" }
                              - task.options[arg_name].each do |arg_option|
                                %option{ value: arg_option }= arg_option
                          - else
                            %input.Task_action-input{ type: "text", name: "args[#{arg_name}]", placeholder: arg_name }
                    %input{ value: "Run Task", type: "submit" }
